<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddNewsServlet</servlet-name>
    <servlet-class>com.pb.news.web.servlet.AddNewsServlet</servlet-class>
  </servlet>
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EditNewsServlet</servlet-name>
    <servlet-class>com.pb.news.web.servlet.EditNewsServlet</servlet-class>
  </servlet>
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelNewsServlet</servlet-name>
    <servlet-class>com.pb.news.web.servlet.DelNewsServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>AddNewsServlet</servlet-name>
    <url-pattern>/servlet/AddNewsServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>EditNewsServlet</servlet-name>
    <url-pattern>/servlet/EditNewsServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>DelNewsServlet</servlet-name>
    <url-pattern>/servlet/DelNewsServlet</url-pattern>
  </servlet-mapping>
  
  <filter>
  	<filter-name>CharaterEncordingFilter</filter-name>
  	<filter-class>com.pb.news.web.filter.CharaterEncordingFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>CharaterEncordingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>